<!DOCTYPE html>
    <html xmlns="http://www.w3.org/1999/xhtml"
          xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
          xmlns:th="http://www.thymeleaf.org">
        <head th:replace="~{ layout/fragments :: head }">
            <title>Bienes Raices</title>
        </head>
    <body>
        <header th:replace="~{ layout/fragments :: header }"/>
        <main>
            <h1>Propiedades en Venta</h1>
            <div class="contenedorAnuncios">
                <div class="anuncio">
                    <picture>
                        <img src="src" alt="alt" loading="lazy" />
                    </picture>
                    <div class="contenido-anuncio">
                        <h3>Nombre propiedad</h3>
                        <p>Descripcion Aqui</p>
                        <p>Precio</p>
                        <ul class="contenedor-iconos">
                            <li>
                                <img src="src" alt="alt"/>
                                <p>Habitaciones</p>
                            </li>

                            <li>
                                <img src="src" alt="alt"/>
                                <p>Baños</p>
                            </li>
                            <li>
                                <img src="src" alt="alt"/>
                                <p>Parqueo</p>
                            </li>
                        </ul>
                        <a href="#">Ver Propiedad</a>
                    </div>
                </div>
            </div>
        </main>
        <footer th:replace="~{ layout/fragments :: footer }"/>
    </body>
</html>