<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
    <head th:replace="~{layout/fragments :: head}">
        <title>Bienes Raices</title>
    </head>
    <body>
        <!-- Section to save User it will call a modal window -->

        <section th:fragment="addUser">
            <div id="addUser" 
                 class="modal fade" 
                 tabindex="-1" 
                 aria-labelledby="exampleModalLabel" 
                 aria-hidden="true">
                <div class="modal-dialog modal-md">
                    <div class="modal-content">
                        <div class="modal-header bg-dark text-white">
                            <h5 class="modal-title">Agregar Usuario</h5>
                            <button type="button" 
                                    class="btn-close btn-close-white"
                                    data-bs-dismiss="modal" 
                                    aria-label="Close"></button>
                        </div> 
                        <form th:action="@{/user/save}" th:object="${user}"
                              method="POST" class="was-validated"
                              enctype="multipart/form-data">
                            <div class="modal-body">


                                <div class="mb-3">
                                    <label for="name">Nombre</label>
                                    <input 
                                        type="text" class="form-control"
                                        name="name"  required="true"/>
                                </div>
                                <div class="mb-3">
                                    <label for="firstSurName">Primer Apellido</label>
                                    <input 
                                        type="text" class="form-control" 
                                        name="firstSurName"  required="true"/>
                                </div>
                                <div class="mb-3">
                                    <label for="secondSurName">Segundo Apellido</label>
                                    <input 
                                        type="text" class="form-control" 
                                        name="secondSurName"  required="true"/>
                                </div>
                                <div class="mb-3">
                                    <label for="identification">Identificación</label>
                                    <input 
                                        type="text" class="form-control" 
                                        name="identification"  required="true"/>
                                </div>

                                <div class="mb-3">
                                    <label for="email">Correo</label>
                                    <input 
                                        type="email" class="form-control" 
                                        name="email" required="true"/>
                                </div>
                                <div class="mb-3">
                                    <label for="password">Contraseña</label>
                                    <input 
                                        type="password" class="form-control" 
                                        name="password" required="true"/>
                                </div>
                                <div class="mb-3">
                                    <label for="fragments">Telefono</label>
                                    <input 
                                        type="tel" class="form-control"
                                        name="fragments"  />
                                </div>
                                <div class="mb-3">
                                    <label for="birthDate">Fecha de Nacimiento</label>
                                    <input
                                        type="date"
                                        class="form-control"
                                        name="birthDate"
                                        min="1920-01-01"
                                        max="2006-01-01"
                                        required="true"
                                        />
                                </div>
                                <div class="mb-3">
                                    <label for="image">Imagen de Usuario</label>
                                    <input class="form-control" type="file" 
                                           name="imagenFile"
                                           onchange="readURL(this);" />

                                </div>

                            </div>
                            <div class="modal-footer d-flex justify-content-center">
                                <button class="btn btn-success" type="submit">Guardar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>


        <!--Section User List: Show all users in the Web App-->
        <section th:fragment="userList" id="users">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-md-6">
                        <h4>Listado de Usuarios</h4>
                    </div>

                    <div class="col-md-6 text-end">
                        <button 
                            type="button" 
                            class="btn btn-success px-5 py-2 " 
                            data-bs-toggle="modal" 
                            data-bs-target="#addUser">
                            <i class="fas fa-plus"></i>
                        </button>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <div th:if="${users != null and !users.empty}">
                            <table class="table table-striped table-hover">
                                <thead class="table-dark">
                                    <tr>
                                        <th>#</th>

                                        <th>Nombre</th>
                                        <th>Apellidos</th>
                                        <th>Identifiacion</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="user, contador : ${users}">
                                        <td>[[${contador.count}]]</td>
                                        <td>[[${user.name}]]</td>
                                        <td>[[${user.firstSurName}]] [[${user.secondSurName}]]</td>
                                        <td>[[${user.identification}]]</td>
                                        <td sec:authorize="hasRole('ROLE_ADMIN')">
                                            <a th:href="@{/user/delete/{idUser}(idUser=${user.idUser})}" class="btn btn-danger">
                                                <i class="fas fa-trash"></i> Eliminar
                                            </a>
                                            <div id="errorMessage" style="display: none;" class="alert alert-danger mt-3"></div>
                                            <a th:href="@{/user/modify/}+${user.idUser}" class="btn btn-primary">
                                                <i class="fas fa-pencil"></i> Actualizar
                                            </a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="text-center p-2" th:if="${users == null or users.empty}">
                            <span>Lista Vacia</span>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- 4 Fragmento que se utiliza en la página modifca.html -->
        <section th:fragment="modifyUser">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <form method="POST"
                          th:action="@{/user/save}" th:object="${user}"
                          class="was-validated"
                          enctype="multipart/form-data">
                        <input type="hidden" name="idUser" th:field="*{idUser}"/>
                        <section th:replace="~{user/fragments :: botonesEditar}"/>
                        <div id=details>
                            <div class="container">
                                <div class="row">
                                    <div class="col">
                                        <div class="card">
                                            <div class="card-header">
                                                <h4>Actualizar Usuario</h4>
                                            </div>
                                            <div class="card-body">
                                                <div class="mb-3">
                                                    <label for="name">Nombre</label>
                                                    <input 
                                                        type="text" class="form-control"
                                                        name="name" th:field="*{name}" required="true"/>
                                                </div>
                                                <div class="mb-3">
                                                    <label for="firstSurName">Primer Apellido</label>
                                                    <input 
                                                        type="text" class="form-control" 
                                                        name="firstSurName" th:field="*{firstSurName}" required="true"/>
                                                </div>
                                                <div class="mb-3">
                                                    <label for="secondSurName">Segundo Apellido</label>
                                                    <input 
                                                        type="text" class="form-control" 
                                                        name="secondSurName" th:field="*{secondSurName}" required="true"/>
                                                </div>
                                                <div class="mb-3">
                                                    <label for="identification">Identificación</label>
                                                    <input 
                                                        type="text" class="form-control" 
                                                        name="identification" th:field="*{identification}" required="true"/>
                                                </div>

                                                <div class="mb-3">
                                                    <label for="email">Correo</label>
                                                    <input 
                                                        type="email" class="form-control" 
                                                        name="email" th:field="*{email}" required="true"/>
                                                </div>
                                                <div class="mb-3">
                                                    <label for="phone">Telefono</label>
                                                    <input 
                                                        type="tel" class="form-control"
                                                        name="phone" th:field="*{phone}" />
                                                </div>


                                                <div class="mb-3">
                                                    <label for="image">Imagen de Usuario</label>
                                                    <input class="form-control" type="file" 
                                                           name="imagenFile"
                                                           onchange="readURL(this);" />

                                                </div>


                                                <!-- comment -->                                                                                                                                                                            
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </form>
                </div>
            </div>
        </section>

        <!-- 5 Fragmento que se utiliza en el fragmento anterior -->
        <section th:fragment="botonesEditar">
            <div class="container py-4 mb-4 bg-light">
                <div class="row">
                    <div class="col-md-4 d-grid">
                        <a th:href="@{/user/userList}" class="btn btn-primary">
                            <i class="fas fa-arrow-left"></i> Volver
                        </a>
                    </div>
                    <div class="col-md-4 d-grid" sec:authorize="hasRole('ROLE_ADMIN')">                                
                        <a th:href="@{/user/delete/}+${user.idUser}"
                           class="btn btn-danger">
                            <i class="fas fa-trash"></i> Eliminar
                        </a>
                    </div>
                    <div class="col-md-4 d-grid" sec:authorize="hasRole('ROLE_ADMIN')">
                        <button type="submit" class="btn btn-success">
                            <i class="fas fa-check"></i> Guardar
                        </button>
                    </div>
                </div>
            </div>
        </section>

        <script th:inline="javascript">
            function deleteUser(id) {
                if (confirm("¿Estás seguro de que quieres eliminar este usuario?")) {
                    fetch('/user/delete/' + id, {
                        method: 'GET',
                        headers: {
                            'Content-Type': 'application/json'
                        }
                    })
                            .then(response => {
                                if (!response.ok) {
                                    throw new Error('Error al eliminar el usuario');
                                }
                                return response.json();
                            })
                            .then(data => {
                                // La solicitud fue exitosa, puedes hacer algo si es necesario
                                // Por ejemplo, actualizar la lista de usuarios
                                window.location.reload();
                            })
                            .catch(error => {
                                // Mostrar el mensaje de error
                                document.getElementById('errorMessage').innerText = error.message;
                                document.getElementById('errorMessage').style.display = 'block';
                            });
                }
            }
        </script>
    </body>
</html>
