.container-error {
    width: 90%;
    margin: 30rem auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.properties {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 80%;
    margin: 22rem auto;
    margin-top: 5rem;
    gap: 3rem;
}

.property, .property-favorite {
    min-height: 500px;
    background-color: #eee;
    padding: 4rem 2rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    border-radius: 20px;
    gap: 6rem;
}

.property-favorite {
    flex-direction: column;
}

.property-favorite h3, .property h3 {
    text-align: center;
}

.property img, .property-favorite img {
    width: 50%;
    border-radius: 20px;
    min-width: 550px;
}

.property-favorite img {
    min-width: 200px;
    width: 80%;
} 

.property-info {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    align-self: flex-start;
    gap: 1.5rem;
}

.property-info h3 {
    font-size: 2.5rem;
    font-weight: bold;
}

.property-info h4 {
    font-size: 2rem;
    font-weight: bold;
}

.property-info p {
    font-size: 1rem;
    font-weight: lighter;
}

.property-info a, .property-info button {
    text-decoration: none;
    color: #fff;
    outline: none;
    border: none;
    padding: .8em 2em;
    font-size: 1.1rem;
    font-weight: bold;
    border-radius: 20px;
    background: #3347ff;
    transition: transform .5s ease;
}

.property-info a:hover, .property-info button:hover {
    transform: scale(1.1);
}

.individual-property {
    display: flex;
    align-content: center;
    justify-content: flex-start;
    gap: 3rem;
    width: 90%;
    margin: 14.4 auto;
    padding: 6em;
    border-radius: 20px;
    background: #eee;
    min-height: 50vh;
    margin-bottom: 30rem;
    position: relative;
}

.individual-property > a {
    font-size: 3rem;
    color: #000;
    position: absolute;
    left: 2.5%;
    top: 3.5%;
}

.individual-property img {
    width: 50%;
    border-radius: 20px;
}

.individual-property .property-more-info {
    width: 50%;
}

.individual-property .property-more-info h4 {
    margin-bottom: 4rem;
}

.individual-property .property-more-info > p {
    font-weight: lighter;
}

.individual-property .property-more-info h5:nth-child(2) {
    margin-bottom: 2rem;
}

.short-characteristics {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    margin-top: 2rem;
}

.short-characteristics p {
    font-size: 1.5rem;
    font-weight: bold;
}

.yes {
    color: #45C23E;
}

.no {
    color: #C3423F;
}


.contact-button, .add-favorite-button {
    padding: .5em 1.5em;
    font-size: 1.5rem;
    background: #e9da70;
    border-radius: 20px;
    color: #fff;
    outline: none;
    border:none;
    text-decoration: none;
    font-weight: bold;
    display: block;
    text-align: center;
    margin-top: 3rem;
    transition: background .5s ease;
}

.add-favorite-button {
    margin-top: .5rem;
    background: #FFD700;
    width: 100%;
}

.contact-button:hover {
    background: #c4b967;
    color: #fff;
}


.add-favorite-button:hover {
    background: #e1c000;
}

.slideshow-container {
    width: 50%;
    position: relative;
}
  

.mySlides {
    display: none;
    object-fit: cover;
    max-height: 25vh;
    min-height: 500px;
}
  
.mySlides img {
    width: 100%;
    height: 100%;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: 3rem;
    padding: 16px;
    color: #fff;
    font-weight: bold;
    font-size: 1.1rem;
    transition: 0.6s ease;
    border-radius: 50%;
    user-select: none;
    background: #3347ff;
  }

.prev i, .next i {
    color: #fff;
}
  
.next {
    right: 5%;
  }
  
.prev {
    left: 5%;
}


.prev:hover {
    transform: translateX(-10%);
}

.next:hover {
    transform: translateX(10%);
}
  
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 3rem .2rem;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
  
.active, .dot:hover {
    background-color: #717171;
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}
  
@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}


.options-property {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    flex-wrap: wrap;
}


.options-property button {
    background-color: #C3423F;
}

.add-button-container {
    width: 80%;
    margin: 0 auto;
    margin-top: 6rem;
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.add-button, .button-save-property, .button-contact {
    padding: .5em .9em;
    outline: none;
    font-size: 1.4rem;
    background-color: #45C23E;
    width: 12%;
    min-width: 150px;
    border-radius: 20px;
    text-align: center;
    font-weight: bold;
    color: #fff;
    border: none;
    transform-origin: center;
    text-decoration: none;
    transition: all .5s ease;
}

.add-button:hover, .button-save-property:hover, .button-contact {
    width: 15%;
    color: #fff;
}


.form-add-property-container,
.form-edit-property-container,
.form-contact-container {
    width: 80%;
    margin: 14.5rem auto;
}

.form-add-property-container form,
.form-edit-property-container form,
.form-contact form {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    flex-direction: column;
    background-color: #eee;
    padding: 3em 4em;
    border-radius: 20px;
}

.form-add-property-container form h1,
.form-edit-property-container form h1,
.form-contact-container form h1 {
    font-weight: bold;
}

.form-add-property-container form a,
.form-edit-property-container form a,
.form-contact-container form a {
    align-self: flex-start;
    font-size: 3rem;
    color: #000;
}

.form-add-property-container form input, .form-add-property-container form select, .form-add-property-container form textarea, 
.form-edit-property-container form input, .form-edit-property-container form select, .form-edit-property-container form textarea,
.form-contact form input, .form-contact form textarea {
    border: none;
    border-radius: 20px;
    padding: .5em 1em;
    width: 100%;
}

.input-form-add-property, .input-form-edit-property, .contact-property-input {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    flex-direction: column;
}

.input-form-add-property label, .input-form-edit-property label, .contact-property-input label {
    align-self: flex-start;
    font-weight: bold;
}

.form-add-property-container .input-form-add-property:nth-child(13), .form-edit-property-container .input-form-edit-property:nth-child(15) {
    flex-direction: row;
    justify-content: flex-start;
}

.input-form-add-property > div, .input-form-edit-property > div, .contact-property-input > div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}


.input-form-add-property .inputs-address, .input-form-edit-property .inputs-address {
    gap: 3rem;
    width: 100%;
    justify-content: space-between;
}

.input-form-add-property .inputs-address div, .input-form-edit-property .inputs-address div {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    flex-direction: column;
}


.input-form-edit-property .images-container, .input-form-add-property .images-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    gap: 3rem;
    margin-top: 5rem;
    background-color: #fff;
    padding: 1em 2em;
}

.images-container > div {
    width: 25%;
    position: relative;
    height: 100%;
    min-width: 250px;
    box-shadow: 4px 4px 5px 0 #0002;
}

.images-container div img {
    width: 100%;
}

.images-options {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #0004;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity .5s ease;
}

.images-options button {
    outline: 2px solid #C3423F;
    background-color: transparent;
    border: none;
    border-radius: 50%;
    color: #C3423F;
    font-size: 1.7rem;
    font-weight: bold;
    padding: .3em .5em;
}


.uploaded-images-container:hover .images-options {
    opacity: 1;
}


.info-profile {
    padding: 3rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 4rem;
    background-color: #eee;
}


.info-profile div:nth-child(2) > *:not(a) {
    font-size: 1.5rem;
    color: #000;
}

.info-profile div:nth-child(2) a {
    background-color: #3347ff;
    outline: none;
    border: none;
}

.info-profile div:nth-child(2) h2 {
    font-weight: bold;
}
.favorite-section {
    width: 90%;
    margin: 6rem auto;
}

.favorite-section h2 {
    font-weight: bold;
    margin-bottom: 2rem;
}

hr {
    width: 90%;
    margin: 0 auto;
}

.favorite-container {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-content: center;
    gap: 2rem;
    flex-wrap: wrap;
}

.info-profile-subdiv {
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
}

.container-profile-add-property {
    margin: 6rem auto;
    width: 90%;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    gap: 3rem;
    flex-wrap: wrap;
}

.property-favorite {
    width: 30%;
    max-width: 700px;
    min-width: 350px;
}

@media (max-width: 1000px) {
    .individual-property {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .individual-property .property-more-info {
        width: 100%;
    }

    .individual-property .slideshow-container {
        min-width: 100%;
    }

    .property {
        flex-direction: column;
    }

    .property img {
        min-width: 90%;
    }

    .options-property {
        flex-direction: column;
        justify-content: flex-start;
    }
}


@media (max-width: 1200px) {
    .property {
        flex-direction: column;
    }
    .properties {
        width: 90%;
    }
    .individual-property {
        width: 95%;
        flex-direction: column;
    }

    .slideshow-container {
        width: 100%;
    }

    .individual-property .property-more-info {
        width: 100%;
    }
}

@media (max-width: 1500px) {
    .properties {
        width: 90%;
    }

    .form-edit-property-container, .form-add-property-container {
        width: 95%;
    }
}