<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
    <head th:replace="~{ layout/fragments :: head }">
        <title>Bienes Raices</title>
    </head>
    <body>
        <header th:replace="~{layout/fragments :: header}"></header>
         <section th:replace="~{category/fragments :: addCategory}"></section>
        <section th:replace="~{category/fragments :: categoryList}"></section>
        <footer th:replace="~{ layout/fragments :: footer }"/>

    </body>
</html>
